@import "../../App.scss";

.message {
  display: flex;
  flex-direction: column;
  margin-top: $one-qt;

  &-top {
    display: flex;
    .message-img {
      @include profileImage(32px, 32px);
      margin-right: $sp-10;
    }

    .message-text {
      padding: $sp-10;
      border-radius: $one-qt;
      background-color: $bl-bg;
      color: white;
      max-width: 18.75rem;
    }
  }

  &-bottom {
    font-size: 0.75rem;
    margin-top: $sp-10;
  }

  &.own {
    align-items: flex-end;

    .message-text {
      background-color: rgb(245, 241, 241);
      color: black;
    }
  }
}
