@import "../../App.scss";

.rightbar-friend {
  @extend %fa;
  margin-bottom: 1rem;

  .rightbar-profile-img-container {
    margin: $sp-10;
    position: relative;
    z-index: -1;

    .rightbar-profile-img {
      @include profileImage();
    }
    .rightbar-online-badge {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: limegreen;
      position: absolute;
      top: -2px;
      right: 0;
      border: 2px solid white;
    }
  }
  .rightbar-username {
    font-weight: 500;
  }
}
