@import "../../App.scss";

.share {
  width: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 0 1rem -0.5rem rgba($color: #000000, $alpha: 0.68);

  &-wrapper {
    padding: 10px;

    .share-top {
      display: flex;
      align-items: center;

      .share-img {
        @include profileImage(50px, 50px);
        margin-right: 0.8rem;
      }
      .share-input {
        border: none;
        width: 80%;

        &:focus {
          outline: none;
        }
      }
    }

    .share-hr {
      margin: 1.2rem;
    }

    .share-img-container {
      padding: 0 1.2rem 0.625rem 1.2rem;
      position: relative;

      .share-img {
        width: 100%;
        object-fit: cover;
      }

      .cancel-icon {
        position: absolute;
        top: 0;
        right: 1.25rem;
        cursor: pointer;
        opacity: 0.7;
      }
    }

    .share-bottom {
      display: flex;
      justify-content: space-between;

      .share-options {
        display: flex;
        margin-left: 1.2rem;

        .share-option {
          align-items: center;
          margin-right: 1rem;
          cursor: pointer;

          .share-icon {
            font-size: 1.1rem;
            margin-right: 3px;
          }

          .share-option-text {
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
      .share-button {
        border: none;
        padding: 0.4rem;
        border-radius: 0.34rem;
        background-color: green;
        font-weight: 500;
        margin-right: 1.2rem;
        cursor: pointer;
        color: white;
      }
    }
  }
}
