@import "../../App.scss";

.chat-online-friend {
  @extend %fa;
  font-weight: 500;
  cursor: pointer;
  margin-top: $sp-10;

  .online-img-container {
    position: relative;
    margin-right: $sp-10;

    .chat-online-img {
      @include profileImage(32px, 32px);
    }

    .chat-online-badge {
      width: $sp-10;
      height: $sp-10;
      border-radius: 50%;
      border: 1px solid white;
      background-color: limegreen;
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}
